/* colors.css - define all your colors here */
:root {
  --primary-color: #0d1b2a;
  --secondary-color: #0d1b2a;
  --accent-color: #89c2d9;
  --background-color: #e0e1dd;
  --text-color: #0d1b2a;
  --border-color: #ddd;
  --error-color: #f44336;
  --error-slate: #ff8fa3;
  --success-color: #4caf50;
}
