* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.container img {
  cursor: pointer;
}
.form {
  width: 400px;
  background-color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: 10px 10px 20px var(--text-color);
}
.form-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-email p {
  color: var(--error-color);
  font-size: small;
}
.form-pass {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-pass p {
  color: var(--error-color);
  font-size: small;
}

.form input {
  width: 70%;
  padding: 10px;
  border-radius: 4px;
  transition: all;
  transition-duration: 500ms;
}
.form input:focus {
  width: 75%;
}
.form button {
  width: 70%;
  background-color: var(--text-color);
  color: white;
  font-weight: 800;
  cursor: pointer;
  padding: 8px;
  transition: all;
  transition-duration: 500ms;
}
.form button:hover {
  background-color: var(--primary-color);
}
.err {
  border: 1px var(--error-color) solid;
}
.hidden {
  display: none;
}
.toast-container {
  width: 300px;
  background-color: lightgrey;
  height: 100px;
  text-align: center;
  padding: 40px;
  position: absolute;
  top: 24px;
  left: 30%;
  border-radius: 10px;
  font-weight: 700;
  font-size: large;
  z-index: 1000;
}
