/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navigation Bar */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 60px;
  padding-right: 8px;
  padding-left: 8px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.logo-txt {
  color: white;
  margin-left: 8px;
  font-size: x-large;
  font-weight: bold;
}

.logo-txt span {
  color: rgb(70, 137, 195);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.nav-page {
  text-decoration: none;
  font-size: large;
  color: white;
  font-weight: bold;
  transition: all 500ms;
}

.nav-page:hover {
  color: coral;
}

.nav-btn {
  padding: 8px;
  background-color: var(--background-color);
  border: none;
  border-radius: 20px;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
  transition: all 500ms;
}

.nav-btn:hover {
  padding: 4px;
}

/* Layout & Containers */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100vw;
  overflow: hidden;
}

.section-cont {
  display: flex;
  justify-content: space-between;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 30px;
  width: 100%;
}

/* Table & Content */
.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  width: 50vw;
}

.content-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
}

.content-table thead tr {
  background-color: var(--text-color);
  color: white;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: left;
}

.content-table tbody tr {
  border-bottom: 1px solid black;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--text-color);
}

.table-header {
  font-weight: bold;
  color: var(--text-color);
  margin-top: 16px;
}

thead {
  position: sticky;
  top: 0;
}

/* Summary Section */
.summary-section {
  background-color: var(--text-color);
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  padding: 6px 20px;
  color: white;
  font-weight: bold;
  font-size: medium;
}

@media (max-width: 750px) {
  .summary-section {
    font-size: smaller;
    padding: 0;
    font-weight: 300;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sum-elements {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-x {
    font-weight: 300;
    font-size: 6px;
  }
}

/* Icons */
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.sum-elements {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 70%;
  justify-content: space-between;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
  transition: all 500ms;
}

.delete-icon:hover {
  color: red;
}

.edit-icon:hover {
  color: green;
}

/* Buttons & Hover Effects */
.add-x {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: 600;
  padding: 3px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 500ms;
  font-size: small;
}

.add-x:hover {
  padding: 4px;
}

.modal-submit {
  background-color: var(--primary-color);
  color: white;
  padding: 6px;
  width: 65px;
  border-radius: 18px;
  cursor: pointer;
  transition: all 500ms;
  font-weight: bold;
}

.modal-submit:hover {
  background-color: var(--text-color);
  width: 90px;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
}

.footer-logo {
  display: flex;
  gap: 6px;
}

.footer img {
  border-radius: 12px;
  height: 24px;
  width: 24px;
}

.mission {
  margin-top: 8px;
  text-align: left;
}

.mission ul {
  list-style: none;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer p:hover,
.footer li:hover {
  color: orangered;
  transition: all 500ms;
  cursor: pointer;
}

.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.modal-content input {
  padding: 4px;
  border: none;
  background-color: var(--background-color);
  border-radius: 12px;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close-modal button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 500ms;
}

.close-modal button:hover {
  font-size: 16px;
}

.err {
  background-color: var(--error-slate);
  padding: 4px;
  color: var(--error-color);
  border-radius: 12px;
}

.exp-head {
  margin-bottom: 12px;
}
.add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.add-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}
.add-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.add-modal-content input {
  padding: 4px;
  border: none;
  background-color: var(--background-color);
  border-radius: 12px;
}
.close-add-modal {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.close-add-modal button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 500ms;
}
.close-add-modal button:hover {
  font-size: 16px;
}
